<div class="container">
    <!-- <mat-icon "> Show play icon when isStopped is false -->
    <img src="../../../assets/icons8-play-96.png" alt="Play" srcset="">
    <!-- </mat-icon> -->
    <h1>Playground</h1>
    <p class="instructions">Your live preview will start here. To get started</p>


    <div class="card">

        <span class="number">1</span><span class="text"><b>Type in a query</b> or choose one of the examples on the
            chat interface
            to get started</span>


    </div>
    <div class="card">

        <span class="number">2</span>
        <span class="text"> We support some weasites that require authentication, which a
            <b> login button</b> will appear</span>


    </div>
    <div class="card">

        <span class="number">3</span><span class="text"> <b>Type in a query</b> or choose one of the examples on the
            chat interface
            to get started</span>

    </div>




</div>

<!-- 
<ul class="custom-list">
    <li>
      
    </li>
    <li>
     
    </li>
    <li>
        You may <b>interact with the screen</b> to take over control or correct
        the agent
    </li>
</ul> -->
