.example-container {
  width: auto;
  height: 100vh;
  border: 1px solid #555;
  background: #eee;
}
mat-drawer-container {
  height: 100vh;
}
.sidebar {
  width: 22rem;
}
.mat-drawer {
  height: 100vh;
}
